@import '../../../../../styles/_mixins.scss';

@import '../../../../../styles/_mixins.scss';
.modulos {    
    background-color: white;
    &>header{
        height: 60px;
        padding: 10px 5%;
        @include flex;
        h3{
            width: 100%;
            text-align: left;
            font-weight: bold;
        }
        &>div{
            svg{
                width: 20px;
            }
        }
    }
    &>section{
        max-height: 50vh;
        padding: 10px 5%;
        min-height: 10vh;
    }
    &>footer{
        height: 60px;
        padding: 10px 5%;
        @include flex;
        justify-content: flex-end;
        background-color: #E2E2E2;
    }
}